<div class="container" ng-controller="TopController as topCtrl" ng-init="topCtrl.init()">
	<div class="row">
		
		<div class="col-md-5">

			<h2>Reddit Posts <button class="btn btn-info" ng-click="topCtrl.dismissAll()"> Dismiss all</button>
			<button class="btn btn-primary" ng-click="topCtrl.loadData()"> Reload data</button>
			</h2>

			<div ng-show="topCtrl.entries.length == 0" class="alert alert-info" role="alert">
	  		<strong>Loading data!</strong>.
	  		<img width="20px" src="http://www.dariusland.com/images/load.gif">
	  	</div>

			<div class="scrolling-list">
		  	<div class="thumbnail"
		  		ng-class="post.data.read == true ? 'read' : 'unread'"
		  		ng-repeat="post in topCtrl.entries track by $index">
					<div class="media">
						<div class="media-left">
							<img ng-show="post.data.preview" alt="64x64" class="media-object" ng-src="{{post.data.thumbnail}}" style="width: 75px; height: 75px;">
						</div>
						<div class="media-body">
							<div class="text-right">
								<span title="dismiss" ng-click="topCtrl.dismiss(post, $index)" class="badge badge-danger pointer"><i class="fa fa-times"></i></span>
							</div>
							<h4 ng-click="topCtrl.openPost(post)" class="media-heading pointer">
								{{post.data.title}}
							</h4>	
							<p class="text-right">
								{{post.data.author}}
								<span class="badge badge-info">{{post.data.num_comments}} <i class="fa fa-comments"></i></span>
								<span>{{post.data.created | moment: 'fromNow'}}</span>
							</p>
						</div>
					</div>
		  	</div>
	  	</div>
		</div>
		
		<div class="col-md-7">
			<div ng-show="topCtrl.current_post">
				<h2>Selected Post</h2>
				<div class="thumbnail">
					<h3>{{topCtrl.current_post.data.title}}</h3>
		      <img ng-src="{{topCtrl.current_post.data.preview.images[0].source.url}}" alt="...">
		      <div class="caption">
		        <h2>{{topCtrl.current_post.data.author}}</h2>
		      </div>
		    </div>
				<!--<pre>{{ topCtrl.current_post | json }}</pre>-->
			</div>
		</div>
	</div>	
</div>
