<!DOCTYPE html>
<html>
  <head>
    <title>RedditClient</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="bootstrapedElement">
    <%= yield %>
  </body>

  <script type="text/javascript">
	  $( document ).ready(function() {
	    var element = angular.element(document.querySelector('#bootstrapedElement'));

	    //This will be truthy if initialized and falsey otherwise.
	    var isInitialized = element.injector();
	    if (!isInitialized) {
	      angular.bootstrap(element, ['RedditModule']);
	    }
	  });
	</script>


</html>
